*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #D9ABAB;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Moderustic", sans-serif;
    z-index: 1;
}
.titulo-pagina{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 40px;
    color: #F7EFE5;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar{
    background-color: nth($colores, 1 );
}
